.typewriter {
  height: 50vh;
}

.welcome {
  font-size: 5rem;
  font-weight: 800;
}

.text {
  font-size: 5rem;
  font-weight: 600;
  padding-right: 2%;
  color: var(--color-secondary);
  border-right: 0.5rem solid;
  animation: typing 0.8s steps(20, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-primary);
  }
}

@media (max-width: 768px) {
  .text,
  .welcome {
    font-size: 3rem;
  }
}
