.footer {
  gap: 1rem;
  padding: 1rem;
  margin-top: 3rem;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid  var(--color-secondary);
  width: 80vw;
  margin: 0 auto;
}

.footerLogo {
  height: auto;
  width: auto;
}

.footerDescription {
  font-size: 1rem;
  text-align: center;
  width: 80%;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.details {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 5rem;
    flex-direction: column;
  }

  .footerInfo {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
}
