.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 1rem;
  position: relative;
}

.header a {
  color: var(--color-primary);
  font-size: 1rem;
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-secondary);
}

/* Add a pseudo-element to create the underline */
.header li::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: var(--color-secondary);
  transform: translateX(-50%);
  transition: width 0.5s ease-in-out;
}

.header li:hover::after {
  width: 100%;
}

.hamburger {
  width: 2rem;
  height: 1rem;
  top: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.patty {
  width: 100%;
  height: 30%;
  background: var(--color-secondary);
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.5s;
}

.patty:nth-child(3) {
  width: 80%;
}

.hamburger.clicked .patty:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.clicked .patty:nth-child(2) {
  margin-top: -30%;
  transform: rotate(-45deg);
}

.hamburger.clicked .patty:nth-child(3) {
  opacity: 0;
}

@media (max-width: 768px) {
  .header nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
