.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 5rem;
  margin: 0 auto;
  max-width: 80vw;
}

.overflowHidden {
  overflow: hidden;
}

.header img {
  cursor: pointer;
}

.hamburger {
  width: 2rem;
  height: 1rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

.patty {
  width: 100%;
  height: 30%;
  background: var(--color-secondary);
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.5s;
}

.patty:nth-child(3) {
  width: 80%;
}

.hamburger.clicked .patty:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.clicked .patty:nth-child(2) {
  margin-top: -30%;
  transform: rotate(-45deg);
}

.hamburger.clicked .patty:nth-child(3) {
  opacity: 0;
}

@media (max-width: 767px) {
  .header nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
