.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 1rem 0;
  transition: all 0.5s ease;
}

.header {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  margin: 3rem 0;
  color: var(--color-primary);
}

.header mark {
  color: var(--color-secondary);
  background-color: transparent;
}

.gridContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 5%;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

@media (max-width: 1224px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    margin: 5rem 0;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 3rem;
  }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5%;
  }
}
