@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  --color-primary: #000000;
  --color-secondary: #98d9b6;
  --color-other: #505050;

  /* --color-primary: #6FDA44.;
  --color-secondary: #1d4354;
  --color-other: #505050;  */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(191, 191, 191, 1);
  border-radius: 10px;
}
