@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  --color-primary: #000000;
  --color-secondary: #98d9b6;
  --color-other: #505050;
}
