.container {
  min-height: 100vh;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border-top: 1px solid var(--color-secondary);
}

.image {
  border-radius: 10px;
  width: 50%;
  height: 70vh;
  transition: all 0.5s ease;
  opacity: 1;
  animation: fade 3.5s linear;
  z-index: 2;
}

.image:hover {
  transform: scale(1.1);
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.container mark {
  color: var(--color-secondary);
  background-color: transparent;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 1rem 0;
  text-align: center;
  color: var(--color-primary);
}

.description {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-primary);
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-weight: 500;
  gap: 1rem;
  font-size: 1.3rem;
  color: var(--color-primary);
}

.text mark {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-secondary);
  background-color: transparent;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: white;
  font-weight: 800;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #fff;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

@media (max-width: 1244px) {
  .container {
    margin: 5rem 0;
    flex-direction: column;
  }
  .image {
    width: 95%;
    height: 50vh;
  }
  .header {
    font-size: 3rem;
    margin: 3rem 0;
  }
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .textContainer {
    align-items: center;
    margin-bottom: 3rem;
  }
  .text {
    font-size: 1rem;
    align-items: center;
    flex-direction: column;
  }
  .text mark {
    font-size: 2rem;
  }
  .description {
    text-align: center;
  }
}
